<!DOCTYPE html>

<html>

    <head>
        <time>404</time>
        <link rel="icon" href="/img/weather.jpg">    
        <link rel="stylesheet", href="/css/style.css">
    </head>

    <body>
        <div class = "main-content">
            <h1>{{errorMessage}}</h1>
            {{>header}}
        </div>
        {{>footer}}
    </body>

</html>