<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.jpg">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class = "main-content">
        {{>header}}
        <p>This site is created by Jp. It uses darksky and MapBox API!</p>
        <img class = "potrait" src = "img/120601.jpg">
        </div>
        {{>footer}}
    </body>
</html>